<% provide(:title, "Log in") %>

<div class = "log-in-form">


  <div class = "log-in-form__input">
      <h2>Log In</h2>
      <%= form_for(:session, url: sessions_path, html:{class: "", role: ""}) do |f|%>
        <%= f.label :email, "Email:", class: "log-in-form__input__email--label" %>
        <%= f.text_field :email, class: "log-in-form__input__email--input", id: "email", placeholder: "" %>
      
        <%= f.label :password, "Password:", class: "log-in-form__input__password--label" %>
        <%= f.password_field :password, class: "log-in-form__input__password--input", id: "password", placeholder: "" %>
     
     
        <%= f.submit "Sign in", class: "log-in-form__input__sign-in-btn" %>

        <div class = "log-in-form__input__sign-up">
          New user? <%= link_to "Sign up now!", signup_path %>
        </div>
      <% end %>  
    
  </div>
</div>



