<% provide(:title, "Sign in") %>
<h4>Sign in...</h4>

<div class = "container">


    <%#= form_tag sessions_path do %>
    <%= form_for(:session, url: sessions_path, html:{class: "form-horizontal", role: "form"}) do |f|%>

      <div class="form-group form-group-sm">
        <%= f.label :email, "Email:", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :email, class: "form-control", id: "email", placeholder: "" %>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <%= f.label :password, "Password:", class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <%= f.password_field :password, class: "form-control", id: "password", placeholder: "" %>
        </div>
      </div>

      <div class="page-sign-in">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>


  <p></p>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  
</div>

