<tr>
	<td>
		<label><%=i%>:</label>
	</td>
	<td>
		<%= f.number_field ("score_" + i.to_s).to_sym, class: "form-control", placeholder: "Score", hn: i, tabindex: tab_order%>
	</td>
	<td>
		<%= f.number_field ("putts_" + i.to_s).to_sym, class: "form-control", placeholder: "Putts", hn: i, tabindex: tab_order + 1%>
	</td>
	<td>
		<%= f.check_box ("fairways_" + i.to_s).to_sym, class: "form-control" , placeholder: "F", hn: i, tabindex: tab_order + 2%>
	</td>
	<td>
		<%= f.check_box ("greens_" + i.to_s).to_sym, class: "form-control" , placeholder: "G", hn: i, tabindex: tab_order + 3%>
	</td>
	<td id="pts_<%=i.to_s%>">		
		<%= render partial: "pts", locals: {:score => eval("@score.score_" + i.to_s), :par => eval("@course.par_" + i.to_s), :hc => @score.hc, :stroke_index => eval("@course.si_" + i.to_s)} %>
	</td>


	<td>
	</td>

	<td>
		<label><%=(i+9)%>:</label>
	</td>
	<td>
		<%= f.number_field ("score_" + (i+9).to_s).to_sym, class: "form-control", placeholder: "Score", hn: (i+9), tabindex: tab_order + 36%>
	</td> 
	<td>
		<%= f.number_field ("putts_" + (i+9).to_s).to_sym, class: "form-control", placeholder: "Putts", hn: (i+9), tabindex: tab_order + 37%>
	</td>
	<td>
		<%= f.check_box ("fairways_" + (i+9).to_s).to_sym, class: "form-control" , placeholder: "F", hn: (i+9), tabindex: tab_order + 38%>
	</td>
	<td>
		<%= f.check_box ("greens_" + (i+9).to_s).to_sym, class: "form-control" , placeholder: "G", hn: (i+9), tabindex: tab_order + 39%>
	</td>
	<td id="pts_<%=(i+9).to_s%>">
			<%= render partial: "pts", locals: {:score => eval("@score.score_" + (i+9).to_s), :par => eval("@course.par_" + (i+9).to_s), :hc => @score.hc,
																				  :stroke_index => eval("@course.si_" + (i+9).to_s)} %>
	</td>
</tr>
