<div class = "container">
	<%= form_for(@score , html:{class: "form-inline", role: "form"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		
		<div class="form-group form-group-sm">
      <%= f.label :score_date, "Score Date:" %>
      <%= f.date_field :score_date, class: "form-control", id: "date", placeholder: "Date" %>
    </div>
    
    <div class="form-group form-group-sm">
      <%= f.label :hc, "Handicap:" %>
      <%= f.number_field :hc, class: "form-control", id: "handicap", placeholder: "" %>
    </div>
		<p></p>

		<div class = "form-group-score-input form-group-sm">
			<table class="table table-bordered table-condensed" style="width: 900px">
				<tr>
					<th style="width: 80px">
						<label>Hole No.</label>
					</th>
					<th style="width: 40px">
						<label>Score</label>
					</th>
					<th style="width: 40px">
						<label>Putts</label>
					</th>
					<th style="width: 40px">
						<label>Fairway</label>
					</th>
					<th style="width: 40px">
						<label>Green</label>
					</td>
					<th style="width: 40px">
						<label></label>
					</td>
					<th style="width: 80px">
						<label>Hole No.</label>
					</th>
					<th style="width: 40px">
						<label>Score</label>
					</th>
					<th style="width: 40px">
						<label>Putts</label>
					</th>
					<th style="width: 40px">
						<label>Fairway</label>
					</th>
					<th style="width: 40px">
						<label>Green</label>
					</td>
				</tr>

				
				<% for i in 1..9 do %>
					<%= render partial: "score_row", locals: { f: f, i: i } %>
				<% end %>
		
			</table>
		</div>
			
		<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<%= link_to "Cancel", score_path(current_user), {:class=>"btn btn-default"} %>


	<% end %>
</div>

