<% provide(:title, @user.name) %>


  
  <%= link_to "Enter New Score", new_score_path, class: "scores__new-btn" %>
  
  
  <% if @user.scores.any? %>
    
   
    <div class="scores">
      <div class="scores__title">Scores (<%= @user.scores.count %>)</div>
      <div class="scores__header scores__header--text">Date</div>
      <div class="scores__header scores__header--text">HC</div>
      <div class="scores__header scores__header--text">Score</div>
      <div class="scores__header scores__header--text">Points</div>
      <div class="scores__header scores__header--text">Putts</div>
      <div class="scores__header scores__header--text">Fairways</div>
      <div class="scores__header scores__header--text">Greens</div>
      <div class="scores__header scores__header--text">Action</div>
      
      <% @scores.each do |score| %>          
          <div class="scores__row scores__row--text"><%= score.score_date.strftime("%d/%m/%y") %></div>
          <div class="scores__row scores__row--num"><%= score.hc %></div>
          <div class="scores__row scores__row--num"><%= @presenter.total_score(score)[:total_score] %></div>      
          <div class="scores__row scores__row--num"><%= @presenter.total_points(score, @course)[:total_points] %></div>      
          <div class="scores__row scores__row--num"><%= @presenter.total_putts(score)[:total_putts] %></div>      
          <div class="scores__row scores__row--num"><%= @presenter.total_fairways(score)[:total_fairways] %></div>      
          <div class="scores__row scores__row--num"><%= @presenter.total_greens(score)[:total_greens] %></div> 
          <div class="scores__row scores__row--text"><%= link_to "Edit", edit_score_path(score) %> / <%= link_to "Delete", score, method:                                             :delete, data: { confirm: "Are you absolutely sure?" } %></div>    
      <% end %>
  
    </div>  
    
    <div class="std_pagination">
      <%= will_paginate @scores%>
    </div>

  <% end %>


