<% provide(:title, @user.name) %>

<div class="btn-group">
  <%= link_to "Enter New Score", new_score_path, class: "btn btn-success align-center" %>
</div>

  <% if @user.scores.any? %>
    <h5>Scores (<%= @user.scores.count %>)</h5>
    <ol class="scores">
      
      <table class="table table-bordered table-condensed" style="width: 600px">
        <tr>
          <th>Date</th>
          <th>HC</th>
          <th>Score</th>
          <th>Points</th>
          <th>Putts</th>
          <th>Fairways</th>
          <th>Greens</th>
        </tr>
   
        <% @scores.each do |score| %>
          
          <tr>
            <td><%= score.score_date.strftime("%d/%m/%y") %></td>
            <td><%= score.hc %></td>
            <td><%= @presenter.total_score(score)[:total_score] %></td>      
            <td><%= @presenter.total_points(score, @course)[:total_points] %></td>      
            <td><%= @presenter.total_putts(score)[:total_putts] %></td>      
            <td><%= @presenter.total_fairways(score)[:total_fairways] %></td>      
            <td><%= @presenter.total_greens(score)[:total_greens] %></td> 
            <td><%= link_to "Edit", edit_score_path(score) %> / <%= link_to "Delete", score, method: :delete,
                                  data: { confirm: "Are you absolutely sure?" } %></td> 
            
          </tr>
        <% end %>
      </table>
 
    </ol>
    <div class="std_pagination">
      <%= will_paginate @scores%>
    </div>
  <% end %>


