<%= render 'shared/error_messages', object: f.object %>

<div class="">
  <%= f.label :name, "Name:", class: "" %>
  <div class="">
  	<%= f.text_field :name, class: "", id: "name", placeholder: "" %>
	</div>
</div>

<div class="">
  <%= f.label :email, "Email:", class: "" %>
  <div class="">
  	<%= f.text_field :email, class: "", id: "email", placeholder: "" %>
  </div>
</div>

<div class="">
  <%= f.label :password, "Password:", class: "" %>
  <div class="col-sm-2">
  	<%= f.password_field :password, class: "", id: "password", placeholder: "" %>
  </div>
</div>

<div class="">
  <%= f.label :password_confirmation, "Password Confirmation:", class: "col-sm-2 control-label" %>
  <div class="">
  	<%= f.password_field :password_confirmation, class: "", id: "password_confirmation", placeholder: "" %>
  </div>
</div>
