<%= render 'shared/error_messages', object: f.object %>

<div class="form-group form-group-sm">
  <%= f.label :name, "Name:", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
  	<%= f.text_field :name, class: "form-control", id: "name", placeholder: "" %>
	</div>
</div>

<div class="form-group form-group-sm">
  <%= f.label :email, "Email:", class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
  	<%= f.text_field :email, class: "form-control", id: "email", placeholder: "" %>
  </div>
</div>

<div class="form-group form-group-sm">
  <%= f.label :password, "Password:", class: "col-sm-2 control-label" %>
  <div class="col-sm-2">
  	<%= f.password_field :password, class: "form-control", id: "password", placeholder: "" %>
  </div>
</div>

<div class="form-group form-group-sm">
  <%= f.label :password_confirmation, "Password Confirmation:", class: "col-sm-2 control-label" %>
  <div class="col-sm-2">
  	<%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation", placeholder: "" %>
  </div>
</div>
