<!-- Edit Course -->

<%= form_for(@course, html:{class: "course-input", role: "form"}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <label class="course-input__name-label">Course Name: </label>	
  <%= f.text_field :name, class: "course-input__name-input", autofocus: true%>

  <div class = "course-input__row-head">Hole</div>
  <div class = "course-input__row-head">Par</div>
  <div class = "course-input__row-head">SI</div>

  <div class = "course-input__row-head">Hole</div>
  <div class = "course-input__row-head">Par</div>
  <div class = "course-input__row-head">SI</div>
 
  
  <% for i in 1..9 do %> 
			<label class="course-input_row-line__hole-number">Hole <%=i%></label>	
			<%= f.number_field ("par_" + i.to_s).to_sym, class: "course-input_row-line", placeholder: "Par" %>
			<%= f.number_field ("si_" + i.to_s).to_sym, class: "course-input_row-line", placeholder: "SI" %>	

			<label class="course-input_row-line__hole-number">Hole <%=(i+9)%></label>	
			<%= f.number_field ("par_" + (i+9).to_s).to_sym, class: "course-input_row-line", placeholder: "Par" %>
			<%= f.number_field ("si_" + (i+9).to_s).to_sym, class: "course-input_row-line", placeholder: "SI" %>	
	<% end %>
	
	<%= f.submit "Save", class: "course-input__save-btn" %>
	<%= link_to "Cancel", course_path, method: :get, class: "course-input__cancel-btn" %>	
<% end %>

