<% provide(:title, @user.name) %>

<%= link_to "Change details", edit_course_path, class: "course__edit-btn" %>

<div class="course">
  <div class="course__title"><%= @course.name %></div>
  <div class="course__header">Hole</div>
  <div class="course__header">Par</div>
  <div class="course__header">SI</div>
  <div class="course__header">Average Score</div>
  <div class="course__header">Average Putts</div>
  <div class="course__header">Fairways %</div>
  <div class="course__header">Greens %</div>

  <% for i in 1..18 do %>
    <% if i == 10 %>
      <div class="course__row__break"></div>
    <%end %> 
    <div class="course__row"><%=i%></div>
    <div class="course__row"><%= eval("@course.par_" + i.to_s) %></div>
    <div class="course__row"><%= eval("@course.si_" + i.to_s) %></div>
    <div class="course__row"><%= @presenter.average_score(@scores, i) %></div>
    <div class="course__row"><%= @presenter.average_putts(@scores, i) %></div>
    <div class="course__row"><%= @presenter.average_fairways(@scores, i) %></div>
    <div class="course__row"><%= @presenter.average_greens(@scores, i) %></div>
  <% end %>
</div>  



