<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header"></div>
  <div class="container">
    <%= link_to "Golf Statistics", root_path, id: "logo" %>
    
    <% if signed_in? %>
      <div class="nav pull-right navbar-nav">
        <%= render 'shared/user_info' %>
      </div>
    <% end %>
    
    <ul class="nav pull-left navbar-nav">
      <div class="btn-group">
        <button class="btn btn-default navbar-btn"><li><%= link_to "Home", root_path %></li></button>         
        <% if signed_in? %>
          <button class="btn btn-default navbar-btn"><li><%= link_to "My Scores", score_path(current_user) %></li></button>
            <button class="btn btn-default navbar-btn"><li><%= link_to "Users", users_path %></li></button>
            <div class="btn-group">
              <button class="btn btn-default navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Account<span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <button class="btn btn-default navbar-btn"><li><%= link_to "Sign in", signin_path %></li></button>     
        <% end %>
      </div>
    </ul>
  </div>
</nav>

