<div class="header-bar">
  
  <%= link_to "Golf Statistics", root_path, class: "logo" %>

  <div class="main-btn-group">
    <%= link_to("Home", root_path) %>
    <% if signed_in? %>
      <%= link_to("Scores", score_path(current_user)) %>
      <%= link_to("Users", users_path) %>
      <div class="dropdown">
        <span>Account</span>
        <div class="dropdown-content">
          <ul>
            <li>
              <%= link_to "Profile", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Settings", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Course", course_path(current_user) %>
            </li>
            <li>
              <%= link_to "Export Scores", score_path(current_user, format: :csv) %>
            </li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to("Log in", signin_path) %>
      <%= link_to("Sign up", signup_path) %>
    <% end %>
  </div>

  <% if signed_in? %>
    <div class="signed-in-user">
      <%= render 'shared/user_info' %>
    </div>
  <% end %>
</div>